<p style="color: green"><%= notice %></p>

<h1><%= @type.name.capitalize()%></h1>
<h2>Pokemon of this type:</h2>
<div>  
  <%@type.pokemons.each do |pokemon|%>
      <%=link_to image_tag(pokemon.sprite), pokemon%>
  <%end%>
</div>

<h2>Moves of this type:</h2>
<div>  
<ul>
  <%@type.moves.each do |move|%>
      <li><%=link_to move.name.capitalize(), move%></li>
  <%end%>
</ul>
</div>

<div>
  <%= link_to "Back", types_path %>
</div>
