<p style="color: green"><%= notice %></p>

<p class="title is-2">Generation <%=@generation.name.split('-')[1].upcase()%></p>
<div class = "columns">
  <div class="row">
    <div class="column">
      <p class="title is-5 has-text-centered">Pokemon introduced in this generation:</p>
        <%@generation.pokemons.each do |pokemon|%>
            <%=link_to image_tag(pokemon.sprite, alt: "#{pokemon.name}"), pokemon%>
        <%end%>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <p class="title is-5 has-text-centered">Types introduced in this generation:</p>
        <div class="columns is-multiline is-centered has-text-centered">
          <%@generation.types.each do |type|%>
            <div class="column has-text-black"><%=link_to type.name.capitalize(), type%></div>
          <%end%>
        </div>
    </div>
    <div class="column">
      <p class="title is-5 has-text-centered">Moves introduced in this generation:</p>
        <div class="columns is-multiline is-centered has-text-centered">
          <%@generation.moves.each do |move|%>
            <div class="column has-text-black"><%=link_to move.name.capitalize(), move%></div>
          <%end%>
        </div>
    </div>
  </div>


  
</div>
<div>
  <%= link_to "Back", generations_path %>
</div>