<div id="<%= dom_id move %>">
  <p>
    <strong>Name:</strong>
    <%= move.name %>
  </p>

  <p>
    <strong>Accuracy:</strong>
    <%= move.accuracy %>
  </p>

  <p>
    <strong>Damage type:</strong>
    <%= move.damage_type %>
  </p>

  <p>
    <strong>Effect:</strong>
    <%= move.effect %>
  </p>

  <p>
    <strong>Power:</strong>
    <%= move.power %>
  </p>

  <p>
    <strong>Pp:</strong>
    <%= move.pp %>
  </p>

</div>
