<p style="color: green"><%= notice %></p>
  
</div>
<div class="card m-3 has-text-centered">
  <div class="card-content">
    <div class="media-content">
      <p class="title is-4">
        <%=@move.name.capitalize()%>
      </p> 
      <p class="subtitle is 5">
        <em><%= @move.type.name.capitalize() %></em>
      </p>
    </div>        
  </div>
  <div class="content">
    <p>
  <%if @move.accuracy%>
    <strong>Accuracy:</strong> <%= @move.accuracy %> 
  <%end%>   
  </p>
  <p>
    <strong>Damage Type:</strong> <%= @move.damage_type.capitalize() %>    
  </p>
  <p>
    <%= @move.effect %>
  </p>
  <p>  
  <%if @move.power%>
    <strong>Power:</strong> <%= @move.power %>
  <%else%>
    <strong>Power:</strong> N/A
  <%end%>
  </p>
  <p>
    <strong>PP:</strong> <%= @move.pp %>    
  </p>
  </div>
</div>  

<h2>Pokemon who can learn this move:</h2>
<div>  
  <%@move.pokemons.each do |pokemon|%>
      <%=link_to image_tag(pokemon.sprite), pokemon%>
  <%end%>
</div>

<div>
  <%= link_to "Back", moves_path %>
</div>