<p style="color: green"><%= notice %></p>

<div>
  <h1><%=@move.name.capitalize()%></h1>
  <p>
    <strong>Type:</strong> <%= @move.type.name.capitalize() %>
  </p>  
  <p>
  <%if @move.accuracy%>
    <strong>Accuracy:</strong> <%= @move.accuracy %> 
  <%end%>   
  </p>
  <p>
    <strong>Move Class:</strong> <%= @move.damage_type.capitalize() %>    
  </p>
  <p>
    <strong>Effect:</strong> <%= @move.effect %>
  </p>
  <p>  
  <%if @move.power%>
    <strong>Power:</strong> <%= @move.power %>
  <%else%>
    <strong>Power:</strong> N/A
  <%end%>
  </p>
  <p>
    <strong>PP:</strong> <%= @move.pp %>    
  </p>
</div>

<h2>Pokemon who can learn this move:</h2>
<div>  
  <%@move.pokemons.each do |pokemon|%>
      <%=link_to image_tag(pokemon.sprite), pokemon%>
  <%end%>
</div>

<div>
  <%= link_to "Back", moves_path %>
</div>