<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <p>
    <strong>Sprite:</strong>
    <%= pokemon.sprite %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= pokemon.number %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pokemon.description %>
  </p>

</div>
