<div id="<%= dom_id pokemon %>">
    <img src=<%= pokemon.sprite %> alt="image of <%= pokemon.name.capitalize() %>" width="100" height="100">
    
  <p>
    <h2>#<%= pokemon.number %> Name:</h2>
    <%= pokemon.name.capitalize() %>
  </p> 

  <p>
    <strong>Description:</strong>
    <%= pokemon.description %>
  </p>

</div>
