<p style="color: green"><%= notice %></p>
<img src=<%= @pokemon.sprite %> alt="image of <%= @pokemon.name.capitalize() %>" width="150" height="150">
<p>
  <h2>#<%= @pokemon.number %> <%= @pokemon.name.capitalize() %></h2>      
</p>

<p>
  <strong>Description:</strong>
  <%= @pokemon.description %>
</p>

<div>
  <%= link_to "Back", pokedex_path %>

</div>
