<p style="color: green"><%= notice %></p>
<img src=<%= @pokemon.sprite %> alt="image of <%= @pokemon.name.capitalize() %>" width="150" height="150">
<p>
  <h2>#<%= @pokemon.number %> <%= @pokemon.name.capitalize() %></h2>      
</p>
<p>
  <%if @pokemon.types.count > 1%>
    <strong>Types:</strong>
  <%else%>
    <strong>Type:</strong>
  <%end%>
  <ul>
    <%@pokemon.types.each do |type|%>
      <li><%=link_to type.name.capitalize(), type%></li>
    <%end%>
  </ul>
</p>
<p>
  <strong>Moves learned by this Pokemon:</strong>
  <ul>
    <%@pokemon.moves.each do |move|%>
      <li><%=link_to move.name.capitalize(), move%></li>
    <%end%>
  </ul>
</p>
<p>
  <strong>Description:</strong>
  <%= @pokemon.description %>
</p>
<div>
  <%= link_to "Back", pokedex_path %>
</div>
