<hr>
<footer>
  <ul>
    <li><%= link_to "Home", root_path%></li>
    <li><%= link_to "Pokemon", pokedex_path %></li>
    <li><%= link_to "Moves", moves_path%></li>
    <li><%= link_to "Generations", generations_path%></li>
    <li><%= link_to "Types", types_path%></li>
  </ul>
</footer>